* {margin: 0; padding: 0;}

html, body {
	margin:0 auto;
	padding:0;
	text-align:center;
	width: 100%;
	height: 100%;
   	/*background-size: cover;*/
}

.main_wrapper {
	min-height:100%;
	clear:both;
	outline: 1px solid green;
}

header {
    /*display:block;*/
    background:#11dab0;
    padding:10px 0px;
	outline: 1px solid red;
}

footer {
	background: #81f7d0;
    text-align: center;
    bottom: 0;
	padding:10px 0px;
	position: fixed;
	width: 100%;
	height: 30px;
	outline: 1px solid blue;
}

.main_menu{
	list-style-type: none;
	line-height: 32px;
	height: auto;
	line-height: 100%;
	background: #00ABB7;
	position:relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main_menu a{
	color: #17405B;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 24px;
	margin-top: 1em;
}

.main_menu li{
	display: inline;
	margin-bottom: 1em;
	padding-left: 1em;
}

.main_menu .active a, .main_menu li:hover > a {
  background: #43E3E3;
  color: #EDF3FF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #FFFFFF;
}
